/* Hide scrollbar but keep scrolling */
.custom-scrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Optional: Hide track */
}

.custom-scrollbar {
    scrollbar-width: none; /* Firefox */
}
